@using MyCvProject.Models.Entity
@model List<myExperiences>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Deneyimler</h2>
<br />


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Deneyim Tanımı</th>
            <th>Tarih</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.id</td>
                <td>@i.title</td>
                <td>@i.subtitle</td>
                <td>@i.description</td>
                <td>@i.date</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/Experience/GetExperience/@i.id">
                        <i class="fas fa-pencil-alt"></i>
                        Düzenle
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/Experience/DeleteExperience/@i.id">
                        <i class="fas fa-trash"></i>
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Experience/AddExperience/" class="btn btn-success">Yeni Deneyim Ekle</a>

<script>
    $('#tbl1').DataTable(
        {
            //order: [
            //    [2, 'desc'] 2.indexteki sütunu büyükten küçüğe sıralı şekilde getirir.
            //]
            pageLength: 10,
            //lengthMenu: [
            //    [10, 25, 50, 100, -1],
            //    ['10 Adet', '25 Adet', '50 Adet', '100 Adet', 'Tümü']
            //],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            }
        });
</script>